@media screen and (max-width: 768px){
    .col-xl-6>div {
        height: 12vh;
    }

    .col-xl-12>div {
        height: 14vh;
    }
    
    .col-xl-4>div {
        height: 8vh;
    }

    .col-xl-3>div {
        height: 6vh;
    }
}

@media screen and (min-width: 768px){
    .col-xl-6>div {
        height: 7vh;
    }

    .col-xl-12>div {
        height: 21vh;
    }
    
    .col-xl-4>div {
        height: 7vh;
    }

    .col-xl-3>div {
        height: 12vh;
    }
}

@media screen and (min-width: 992px){
    .col-xl-6>div {
        height: 19vh;
    }

    .col-xl-12>div {
        height: 26vh;
    }
    
    .col-xl-4>div {
        height: 26vh;
    }

    .col-xl-3>div {
        height: 19vh;
    }
}